body {
    background: black;
}



.top_checkbox {
    display: block;
    width: 30px;
    height: 30px;
    background: lightsalmon;
    border: 3px solid gray;
    border-radius: 8px;
    cursor: pointer;
    position: relative;
    margin-left: 20px;
    margin-top: 30px;
}

.gear1 {
    display: inline-block;
    position: relative;
    top: 50px;
    left: 50px;
}

.gear11 {
    position: relative;
    width: 50px;
    height: 50px;
    margin: auto;
    background: lightsalmon;
    border-radius: 50%;
}

.gear11 .center1 {
    position: absolute;
    top: 10px;
    left: 10px;
    z-index: 10;
    width: 30px;
    height: 30px;
    background: black;
    border-radius: 50%;
}

.tooth1 {
    position: absolute;
    top: -6px;
    left: 19px;
    z-index: 1;
    width: 11px;
    height: 62px;
    background: lightsalmon;
}

.tooth1:nth-child(2) {
    transform: rotate(45deg);
}

.tooth1:nth-child(3) {
    transform: rotate(90deg);
}

.tooth1:nth-child(4) {
    transform: rotate(135deg);
}

@keyframes spin1 {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

.gear2 {
    display: inline-block;
    position: relative;
    top: 14px;
    left: 48px;

}

.gear21 {
    position: relative;
    width: 50px;
    height: 50px;
    margin: auto;
    background: lightsalmon;
    border-radius: 50%;
}

.gear21 .center2 {
    position: absolute;
    top: 10px;
    left: 10px;
    z-index: 10;
    width: 30px;
    height: 30px;
    background: black;
    border-radius: 50%;
}

.tooth2 {
    position: absolute;
    top: -6px;
    left: 19px;
    z-index: 1;
    width: 11px;
    height: 62px;
    background: lightsalmon;
}

.tooth2:nth-child(2) {
    transform: rotate(45deg);
}

.tooth2:nth-child(3) {
    transform: rotate(90deg);
}

.tooth2:nth-child(4) {
    transform: rotate(135deg);
}

@keyframes spin2 {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(-360deg);
    }
}

.gear-checkbox {
    display: none;
}

.check {
    position: absolute;
    opacity: 0;
    visibility: hidden;
    top: 46px;
    left: 38px;
    transition: opacity 2s ease;
}

.check1 {
    display: inline-block;
    position: absolute;
    height: 2px;
    width: 7px;
    background: black;
    transform: rotate(45deg);
}

.check2 {
    position: relative;
    display: inline-block;
    height: 2px;
    width: 14px;
    background: black;
    transform: rotate(315deg);
    left: 4px;
    top: -15px;
}

.gear-checkbox:checked~.check {
    opacity: 1;
    visibility: visible;
}

.actived {
    position: relative;
    display: none;
    font-size: 14px;
    color: wheat;
    top: 100px;
    left: -100px;
}

.disable {
    position: relative;
    display: inline-block;
    font-size: 14px;
    color: wheat;
    top: 100px;
    left: -100px;
}

.gear-checkbox:checked~.actived {
    display: inline-block;
}

.gear-checkbox:checked~.disable {
    display: none;
}


.gear-checkbox:checked~.gear1 {
    animation: spin1 5s linear infinite;
}

.gear-checkbox:checked~.gear2 {
    animation: spin2 5s linear infinite;
}